<!DOCTYPE html>
<html lang="nl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Arduino Components</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body class="pages">
<div>
    <h1>Arduino Components</h1>
    <img src="../rescources/Arduino_component.png" alt="screenshot van arduino componenten">
    <h2>Uitleg</h2>
    <p>Voor deze opdracht was het de bedoeling om verschillende componenten te verzinnen en te maken in FreeCAD in 3D.
        Deze opdracht ging al vele makkelijker door de vorige opdracht. Hiervoor heb ik eerst een Arduino Uno 3D model
        gedownload en geïmporteerd in FreeCAD. Daarna heb ik verschillende componenten gemaakt die ik op de Arduino zou kunnen aansluiten.
        Ik heb een doosje gemaakt dat je Zrduino veilig houdt en een klein breadbordje dat je kan gebruiken
         om te solderen. Ik vindt zelf dat de opdracht vrij goed is gelukt.
    </p> 
    <a href="../rescources/Arduino_component.FCStd">link naar FCStd file</a>
</div>

</body>
</html> 