<!DOCTYPE html>
<html lang="nl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Billboard 3D scene</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body class="pages">
<div>
    <h1>Billboard 3D scene</h1>
    <img src="../rescources/3D_scene.jpg" alt="3D scene screenshot">
    <h2>Uitleg</h2>
    <p>Voor deze opdracht was het de bedoeling om van de gemaakte poster van de vorige opdracht een 3D scene te maken in Blender. 
        Hiervoor heb ik eerst de poster geimporteerd in Blender. Daarna heb ik verschillende objecten
        gemaakt die ik in de scene wou hebben, zoals een billboard, een straat, een deur en verschillende lampjes voor 
        een fijnere lichtomgeving. Ik had wel veel moeite met de omgeving er mooi uit te laten zien. Vooral de weg heeft
         mij veel moeite gekost. Uiteeindelijk ben ik wel tevreden met het resultaat. Het zou echt buiten een gebouw kunnen staan.
    </p>  
</div>

</body>
</html> 