<!DOCTYPE html>
<html lang="nl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Harry Potter Magic Book</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body class="pages">
<div>
    <h1>Harry Potter Magic Book</h1>
    <img src="../rescources/Harry_Potter.png" alt="screenshot van boek in tinker">
    <h2>Uitleg</h2>
    <p>Voor deze opdracht was het de bedoeling om een boek te maken in Tinker. 
        Dit was een vrij lastige opdracht. Er kwamen veel meer functionaliteiten te pas dan ik had verwacht.
        Na een paar moeizame pogingen om het boek te maken, ben ik uiteindelijk tot dit resultaat gekomen.
        Om het af te maken heb ik er een kruis op gezet, omdat ik het idee had dat het boek dan meer op een Bijbels boek zou lijken.
        Uiteindelijk kloppen alle afmetingen ook. Ik zou het zelfs kunnen afprinten als ik echt zou willen.
    </p>  
</div>

</body>
</html> 