<!DOCTYPE html>
<html lang="nl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Dream Castle</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body class="pages">
<div>
    <h1>Dream Castle</h1>
    <img src="../rescources/Castle.png" alt="screenshot van kasteel in tinker">
    <h2>Uitleg</h2>
    <p>Voor deze opdracht was het de bedoeling om een kasteel te maken in Tinker. 
        Hiervoor heb ik eerst een aantal tutorials bekeken om te zien hoe je het best kan werken met Tinker. 
        Daarna ben ik begonnen met het maken van de verschillende onderdelen van het kasteel, zoals de torens en muren. 
        Het maken van de verschillende ramen heeft me wel wat tijd gekost. Echter vind ik dat deze opdracht ervoor heeft
         gezorgd dat ik Tinker beter heb leren kennen. Het is een handig en leuk programma om mee te werken. Zelf 
         vind ik het resultaat van het kasteel ook wel geslaagd.
    </p>  
</div>

</body>
</html> 