<!DOCTYPE html>
<html lang="nl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Kubus</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body class="pages">
<div>
    <h1>4x4x4 Kubus</h1>
    <img src="../rescources/4x4x4.jpg" alt="Papieren kubus">
    <h2>Uitleg</h2>
    <p>Voor deze opdracht was het de bedoeling om een kubus te te maken met als afmeting: 4 x 4 x 4.
        Omdat ik het wat anders woilde aanpakken, heb ik besloten om de kubus te plooien in plaats van uit te knippen en vast
        te plakken. Na een tutorial te hebben opgezocht ben ik vrij tevreden met het resultaat, hoewel er hier en daar nog wat kreukjes
        zitten. Het was een leuke opdracht om te doen, omdat ik het nog nooit eerder had gedaan.
    </p>  
</div>

</body>
</html> 